@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  font-size: 1rem;
  overflow-x: hidden;
}

@layer components {
  .themeConfig{
    @apply  bg-white fill-neutral-800 text-neutral-800 duration-200 dark:bg-neutral-800 dark:fill-white dark:text-white;
  }
}
  